# === Java ===
*.class
*.jar
*.war
*.ear

# === Maven ===
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# === Logs ===
*.log

# === IntelliJ IDEA ===
.idea/
*.iml
*.iws
*.ipr
out/

# === VS Code ===
.vscode/

# === Spring Tool Suite / Eclipse ===
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans/
.sts4-cache/

# === OS Files ===
.DS_Store
Thumbs.db
